<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p> Splurty was build by <a target= "_blank" href="http://github.com/melmacmar">Melanie</a>
  </p>
  <br/>
  <p> Together they taught millions of students how to build code</p>
  <p> If you want to learn code - start<a target= "_blank" href="http://www.firehoseproject.com"> visit the Firehose Project</a>
  </p>

   <div class="col-xs-12 col-sm-4">
    <%= image_tag 'melrome2.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Melanie Marshall</h2>
    <br />
    <p>
      Melanie Marshall is a web developer and marketing manager. He consulted with companies like Apple and HP.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />